@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Literata:ital,opsz,wght@0,7..72,500;1,7..72,300&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
body{
    max-width: 1440px;
}
header{
    nav{
        display: flex;
        z-index: 2;
        .left{
            margin-top: 54px;
            margin-left: 120px;
        }
        .right{
            display: flex;
            margin-left: 307px;
            p{
                margin-top: 67px;
                margin-right: 55px;
                font-size: 18px;
            }
            button{
                width: 142px;
                height: 62px;
                background-color: #FFAB55;
                border-radius: 20px;
                font-size: 20px;
                margin-top: 50px;
                color: white;
                border: 0;
            }
        }

    }
    section{
        .imgs{
            display: flex;
            z-index: 1;
            .img1{
                margin-top: -250px;
                margin-left: -120px;
                z-index: -1;
            }
            .img2{
                margin-top: 660px;
                margin-left: -180px;
            }
        }
        div{
            z-index: 2;
            margin-top: -620px;
            margin-left: 122px;
            p{
                font-size: 20px;
                color: rgba(192, 114, 34, 1);
                margin-top: 17px;
                width: 380px;
            }
        }
        .search{
            margin-left: 209px;
            margin-top: 150px;
        }
    }
}
.section1{
    display: flex;
    .left{
        img{
            margin-top: 11px;
            margin-left: 130px;
        }
    }
    .right{
        margin-top: 15px;
        margin-left: 117px;
        img{
            margin-left: -100px;
        }
        h1{
            font-size: 36px;
            color: #222864;
            width: 577px;
            font-family: Literata;
        }
        p{
            color:#9D9CA1 ;
            width: 748px;
            font-size: 14px;
        }
        button{
            margin-top: 16px;
            background-color: #FFAB55;
            border: 0;
            width: 99px;
            height: 32px;
            color: white;
            font-size:14px ;
            margin-left: 200px;
            border-radius: 6px;
        }
    }
}
.section2{
    background-color: rgba(255, 238, 218, 0.41);
    height: 857.957px;
   .top{
    p{
        font-size: 24px;
        color: #FFAB55;
        margin-top: 51px;
        text-align: center;
    }
    h1{
        font-size:48px;
        color: #222864;
        margin-top: 14px;
        text-align: center;
        font-family: Literata;
    }
   }
   main{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    div{
        width: 371px;
        height: 476px;
        border-top-left-radius: 15px;
        img{
            width: 370px;
            border-top-left-radius: 15px;
        }
        b{
            font-size: 24px;
            margin-top: 26px;
            margin-left: 70px;
        }
        .p1{
            color: #9D9CA1;
            text-align: center;
            margin-top: 14px;
        }
        .p2{
            margin-left: 23px;
            margin-right: 23px;
            color: #9D9CA1;
            text-align: center;
            margin-top: 14px;
        }
        div{
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            height: 50px;
            h3{
                color: #FFAB55;
                font-size: 18px;
                margin-left: 23px;
                margin-top: 15px;
            }
            img{
                margin-right: 23px;
                margin-top: 18px;
                width: 22px;
                height: 22px;
            }
        }
    }
    .bir{
        margin-top: 100px;
    }
   }
}
.section3{
    background-color: #EEEAE1;
    height: 525px;
    img{
        z-index: -1;
    }
    div{
        z-index: 2;
        text-align: left;
        margin-top: -440px;
        margin-left: 750px;

        h1{
            font-size: 48px;
            color: #222864;
            font-family: Literata;
            width: 613px;
        }
        p{
            font-size: 19px;
            color: #9D9CA1;
            width: 550px;
        }
        button{
            margin-top: 88px;
            background-color: #FFAB55;
            border: 0;
            width: 99px;
            height: 32px;
            color: white;
            font-size:14px ;
            border-radius: 6px;
        }
    }
}
.section4{
    p{
        color:  #222864;
        font-family: Literata;
        font-size: 47.998px;
        font-style: normal;
        font-weight:600;
        line-height: normal;
        position: absolute;
        margin-top: -1181px;
        margin-left: 347px;
        letter-spacing: 0.5px;
    }
}
footer{
    display: flex;
    justify-content: space-around;
    .div1{
        text-align: left;
        width: 259px;
        margin-top: 60px;
        margin-bottom: 89px;
        img{
            margin-bottom: 26px;
        }
        p{
            color: #9D9CA1;
        }
        aside{
            width: 243px;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    }
    div{
        margin-top: 60px;
        margin-bottom: 59px;
        width: 238px;
        b{
            color: #222864;
            font-size: 23px;
            font-weight: 600px;
        }
        p{
            color: #222864;
            font-size: 18px;
            margin-bottom: 31px;
        }
    }
}